 .header{
    width: 100%;
    text-align: center;
    min-height: 120px;
    position: fixed top;
    box-shadow: 0 0px 10px 0 rgba(178, 173, 173, 0.496);
 }
 .h1{
    padding-top: 45px;
 }
 .logo{
     padding:5px 20px;
     border-radius: 20px;
     background: #e5f5ea;
     color:#026467;
     font-size: 19px;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
 }
 .logout{
   float:right ;
   font-size: medium;
   padding-right: 40px;
 }
 .eml{
   padding-right: 20px;
   text-decoration: none;
 }
 button{
   padding: 7px;
   background: rgb(110, 196, 190);
   border: 0;
   border-radius: 4px;
 }
 button:hover{
   cursor: pointer;
 }