<footer>
    <div class="container">
        <div class="foo-logo">ANG-BLOG</div>
        <div>
            <ul class="foobar">
                <div><li class="foo-item"><a href="#" class="foo-link">Home</a></li></div>
                <div><li class="foo-item"><a href="#" class="foo-link">About</a></li></div>
                <div><li class="foo-item"><a href="#" class="foo-link">Terms & Conditions</a></li></div>
                <div><li class="foo-item"><a href="#" class="foo-link">Contact</a></li></div>
            </ul>
        </div>
        <div>Copyright &copy; 2023 Angular Blogsite</div>
    </div>
</footer>