.body{
    margin-bottom: 40px;
}
.featured{
    text-align: center;
    background-color: rgb(10, 95, 92);
    color: white;
    min-height: 80vh;
    width: 100%;
}
.featured h2{
    font-weight: normal;
    padding-top: 20px;
    margin-bottom: 0;
    font-size: normal;
}
.row-post{
     display: grid;
     grid-template-columns: auto auto auto auto;
     column-gap: 10px;
}
.latest{
    text-align: center;
}
.latest h2{
    padding-top: 80px;
}
.row-post2{
     display: grid;
     grid-template-columns: auto auto auto;
     column-gap: 20px;
     row-gap: 20px;
     padding-left: 30px;
    }
.container{
    margin: 0 80px 0 120px;
    width: 1300px;
}









