<div class="about">
    <div class="container">
        <h2>CONTACT US</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <div class="para">
            <form class="commentform">
                <label for="name">Name</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="message">Message</label><br>
                <textarea type="text" id="message" name="message"></textarea><br>
            </form>
            <div class="button">
                <button type="send">SEND MESSAGE</button>
                <button type="home">BACK TO HOME</button>
            </div>
        </div>
    </div>
</div>
