.container{
    width: 70%;
    text-align: center;
    position: relative;
    left: 15%;
    margin-top: 10px;
}
h2{
    color: #225674;
    margin-bottom: 8px;
}
p{
    margin-bottom: 10px;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  
}
  #b1 {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  #b1:hover {
    background-color: #45a049;
  }
  
 
  form {
    text-align: left;
    border-radius: 5px;
    padding: 10px;
  }
  .row1{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .file{
    border: 1px gray solid;
    padding: 3px;
    margin-top: 5px;
    width: 100%;
  }
  .form1{
    padding: 15px;
    box-shadow: 0 0px 14px 0 rgb(75, 131, 131, 0.496);
    width: 60%;
  }
  .form2{
    width: 40%;
    padding: 1px;
  }
  .form2 img{
    width: 100%;
    border: 1px grey solid;
  }
  .form3{
    padding: 15px;
    box-shadow: 0 0px 14px 0 rgb(75, 131, 131, 0.496);
    margin-top: 30px;
  }
  .bts{
    text-align: center;
    margin-top: 40px;
  }
  .bts button{
    background: rgb(195, 195, 6);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
  }
  .bts button:hover{
    background: rgb(214, 214, 3);
  }
  