<div class="container">
    <h2>Add New post</h2>
    <p>you can add your new post here</p>
    <div *ngIf="postForm">
    <form [formGroup]="postForm" (ngSubmit)="onsubmit()">
      <div class="row1">
      <div class="form1">
      <label for="Title">Title</label>
      <input type="text" id="title" formControlName="title" (keyup)="onTitleChange($event)" >
  
      <label for="link">Permalink</label>
      <input type="text" id="link" formControlName="plink" [(ngModel)]="permalink">
  
      <label for="subject">Excerpt</label>
      <textarea id="subject" formControlName="excerpt" style="height:200px"></textarea>
      </div>
      <div class="form2">
        <label for="catry">please select a categor here</label>
        <select id="catry" formControlName="catry">
          <option value="" disabled>please select a category</option>
          <option *ngFor="let category of categories" value="{{category.id}}-{{category.data.Catgor}}" >{{category.data.Catgor}}</option>
        </select>
        <label for="img" >Post img</label><br>
        <img [src]="imgSrc">
         <input type="file" formControlName="imgsrc" class="file" (change)="showPreview($event)">
      </div>
      </div>
      <div class="form3">
        <label for="content">content</label>
        <angular-editor placeholder="enter text here" formControlName="content"></angular-editor>
    </div>
    <div class="bts">
      <button id='b1' type="submit"   value="Save Post" [disabled]="!postForm.valid">{{saveStatus}} Post </button>
      <button id="button" routerLink="/posts">Back To Post</button>
    </div>  
    </form>
    </div>



   
</div>
