<div class="container1">
    <div class="container">
        <h2>NEW CATEGORY</h2>
        <P>you can add new category from here..!</P>
        <div class="bts">
        <button  class="bt1" routerLink="/posts/new">Add New Post</button>
        <button  class="bt2" routerLink="/">Back to Dashboard</button>
        </div>
    </div>



    <div class="tb">
        <table>
            <div class="t1">
                <thead>
                    <tr>
                        <th width="10">No</th>
                        <th width="200">Post image</th> 
                        <th width="200">Title</th>
                        <th width="300">Excerpt</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let cat of categoryray; let i=index">
                    <tr>
                        <td width="10">{{i+1}}</td>
                        <td width="200"><img src="{{cat.data.postimgpath}}" alt="" width="200"></td>
                        <td width="200">{{cat.data.title}}</td>
                        <td width="300">{{cat.data.excerpt}}</td>
                        <td>{{cat.data.category.category}}</td>
                        <td>{{cat.data.createdat.toMillis() | date:'medium'}}</td>
                        <td>
                            <div class="btn">
                                <button style="background-color: rgb(201, 201, 2); cursor: pointer;"
                                    (click)="onEdit()" routerLink="/posts/new" [queryParams]="{id: cat.id}">EDIT</button>
                                <button style="background-color: rgb(221, 66, 66); cursor: pointer;"
                                    (click)="onDelete(cat.id,cat.data.postimgpath)">DELETE</button>
                                <button *ngIf="!cat.data.isfeatured" (click)="featured(cat.id,true)" style="background-color: rgb(42, 174, 42);  cursor: pointer;">MARK FEATURED</button>
                                <button *ngIf="cat.data.isfeatured" (click)="reFeatured(cat.id,false)" style="background-color: rgb(27, 90, 154); color: white; cursor: pointer;">REMOVE FEATURED</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </div>
        </table>
    </div>
</div>