<div class="about">
    <div class="container">
        <h2>TERNS & CONDITIONS</h2>
        <div class="para">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor esse consequuntur ab accusamus magnam
                quod dolorum eligendi in quaerat excepturi, eaque corporis dolore expedita unde, minus tempore saepe, id
                officiis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, praesentium neque. Iusto
                consectetur, autem quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quo
                provident officia nulla nemo consequatur, laborum inventore odio ratione natus alias, a nobis eos
                aliquid, at cum. Distinctio, magni tenetur?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor esse consequuntur ab accusamus magnam
                quod dolorum eligendi in quaerat excepturi, eaque corporis dolore expedita unde, minus tempore saepe, id
                officiis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto reiciendis esse, quae
                facilis voluptas laboriosam, numquam ipsum magni, accusantium do Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ipsam earum porro, illo voluptate nobis eaque autem itaque, odio ea debitis aliquam
                explicabo culpa vitae ullam voluptatem consequatur maxime. Libero, dolores?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor esse consequuntur ab accusamus magnam
                quod dolorum eligendi in quaerat excepturi, eaque corporis dolore expedita unde, minus tempore saepe, id
                officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat earum deserunt sunt nam
                perferendis dolore dolorum quos magni, molestia Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Repudiandae possimus magni doloremque voluptatum, et magnam itaque, suscipit assumenda harum,
                inventore deserunt quibusdam. Facilis temporibus nostrum minima, sit facere repellendus nobis.</p>
            <div class="button">
                <button type="home">BACK TO HOME</button>
            </div>
        </div>
    </div>
</div>
