.card{
    background: rgb(235, 244, 244);
    width: 30%;
    text-align: center;
    position: relative;
    top:25%;
    left: 35%;
    box-shadow: 0 0px 14px 0 rgba(154, 150, 150, 0.496);;

}
h2{
    padding-top: 30px;
}
form{
    width: 75%;
    margin: 0 12.5%;
}
input {
    width: 100%;
    border: 1px  lightgrey solid;
    padding: 15px;
    margin: 10px 0;
    background: white !important;
}
input::after{
    background:none !important;
}
button{
    background: rgb(22, 136, 115) !important;
    border: 0;
    width: 50%;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}
.alert{
    color: red;
}